.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    background-color: #fff;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid wheatblue;
    border-radius: 10px;
  }
  .logo {
    font-family: 'Lucida Calligraphy', 'Monotype Corsiva', cursive;
    color: #4A4A4A;
    font-size: 24px;
  }
  .img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }